@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(0, 92, 77);
  --select-color: dodgerblue;
  --success: rgb(11, 116, 2);
  --danger: rgb(214, 23, 23);
  --myFont: "Figtree", sans-serif;
}

body {
  margin: 0;
  font-family: var(--myFont);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #003f32;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v20H0V0zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm20 0a7 7 0 1 0 0-14 7 7 0 0 0 0 14zM10 37a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm10-17h20v20H20V20zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14z' fill='%230d8683' fill-opacity='0.09' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.game-container {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
  width: 530px;
  height: 95vh;
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  user-select: none;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.header {
  background: var(--primary-color);
  color: white;
  font-family: var(--myFont);
  font-size: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
h1 {
  text-align: center;
  margin: 0;
  font-size: 32px;
  margin: 16px 0;
}

.card {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(100% - 70px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
#start-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

/* Splash Page -------------------- */
input[type="radio"] {
  opacity: 0;
  width: 10%;
  height: 55px;
  position: relative;
  /* top: -40px; */
  cursor: pointer;
  z-index: 2;
}

.selection-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: auto 0;
}

.radio-container {
  width: 90%;
  margin: 8px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 24px;
}

label {
  width: 30%;
  font-size: 20px;
}

.selected-label {
  background: var(--select-color);
  color: white;
}

.best-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  max-width: fit-content;
}

.best-score span {
  margin: 0;
}

.best-score span:last-child {
  font-size: 24px;
}

/* .selection-footer {
  top: 134px;
} */

/* Game Page -------------------------- */
.height-240 {
  height: 240px;
  width: 100%;
}

.height-500 {
  height: 500px;
  width: 100%;
}

.item-container {
  width: 100%;
  height: 552px;
  overflow-y: scroll;
  position: relative;
  -ms-overflow-style: none;
}

.item-container::-webkit-scrollbar {
  display: none;
}

.item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 80px;
  margin: 0 50px;
  user-select: none;
}

.finished > h1 {
  opacity: 0.5;
}

.selected-item {
  background: var(--select-color);
  position: fixed;
  /* top: 443px; */
  z-index: -1;
  width: 530px;
  height: 80px;
}

.item-footer,
.selection-footer {
  width: 100%;
  height: 90px;
  background: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.item-footer {
  top: 1px;
}

button {
  cursor: pointer;
  height: 50px;
  border-radius: 5px;
  font-size: 25px;
  font-family: Oxanium, sans-serif;
  color: white;
  border: none;
  outline: none;
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: scale(0.99);
}

.wrong,
.right {
  width: 40%;
}

.wrong {
  background: var(--danger);
  margin-right: 25px;
}

.right {
  background: var(--success);
}

.start,
.play-again {
  width: 90%;
  background: var(--primary-color);
}

/* Countdown Page ---------------------- */
.countdown-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.countdown {
  font-size: 100px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

/* Score Page ------------------------- */
.score-container {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-footer {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -30px;
}

.title {
  font-size: 45px;
}

.final-time {
  font-size: 100px;
  margin: 0;
  color: var(--success);
}

.base-time {
  margin-top: 100px;
  margin-bottom: 0;
}

.penalty-time {
  color: var(--danger);
}

/* Media Query: Laptop */
@media screen and (max-width: 1800px) {
  .game-container {
    margin-top: 24px;
  }

  .selected-item {
    top: 380px;
  }
}
.hidden {
  display: none;
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 500px) {
  .game-container {
    width: 90vw;
    margin-top: 8px;
    border: none;
  }

  .selected-item {
    top: 345px;
    width: 100%;
  }

  .header {
    font-size: 1.2rem;
    height: 50px;
  }
  label {
    font-size: 16px;
  }

  /* .countdown {
    margin-top: calc(40% - 60px);
  } */
  .radio-container {
    width: 93%;
    margin: 8px;
  }

  .best-score {
    font-size: 0.8rem;
    left: 245px;
  }

  button {
    font-size: 18px;
  }
  .selection-footer {
    height: 70px;
  }

  /* Media Query: iPhone */
  @media screen and (max-width: 376px) {
    .best-score {
      left: 232px;
    }
  }
}
